@model IEnumerable<EntityApp2.Models.Expense_Model>

@{
    ViewBag.Title = "Giderler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giderler</h2>

<p>
    @Html.ActionLink("Gider Ekle", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.departmant)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.date)
		</th>

		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.departmant)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.description)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.price)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.date)
		</td>
		<td>
			@Html.ActionLink("Düzenle", "Edit", new { id=item.id }) |
			@Html.ActionLink("Sil", "Delete", new { id=item.id })
		</td>
	</tr>
}

</table>
